<%- include('header'); -%>

    <h1 style="color: black;"> This is about the website </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quaerat quas! Nemo quaerat eius atque, illo laboriosam delectus deleniti qui molestiae minima maiores sequi magnam distinctio porro? Deleniti, porro totam!</p>

    <%- include('footer'); -%>